@media (max-width: 700px) {
    .main-menu {
        display: none;
    }
}


body {
    font: 100% 'source sans pro', sans-serif;
    padding-top: 66px;
}

html {
    font: 100% 'source sans pro', sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/*=========General LoVe HAte ============*/

a:link,
a:visited {
    color: #171717;
    text-decoration: none;
}

/*colors every hover over link with red and focus on it */
a:hover,
a:focus,
a:active {
    color: #F14848;
    outline: none;
}

/*===========home button + NAV ======================*/

.header {
    line-height: 66px;
    width: 100%;
    background-color: white;
    /**makes nav sticky + the first reference point for absolute**/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo-wrapper {
    display: inline-block;
    line-height: 66px;
    padding-left: 20px;
}

.logo-wrapper img {
    vertical-align: middle;
}

/*Bold +red home button*/
.main-menu .home-nav {
    color: #F14848;
    font-weight: bold;
}

/*sorts all <li> elements in a row*/
.main-menu li {
    float: left;
}

/*sorts nav in dimensions without margins*/
.main-menu ul {
    margin: 0;
    padding-right: 20px;
}


.main-menu li a {
    display: inline-block;
    line-height: 66px;
    padding: 0 10px;
    /*border: 1px solid  red;*/
    width: 100%;
}

/*moves the menu up next to the logo - makes it float right*/
.main-menu {
    float: right;
    font-weight: 200;
}

/*hide all sub-menus*/
.main-menu ul ul {
    display: none;
}

/*hovers ul on each li*/
.main-menu li:hover > ul {
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: white;
    padding:0;
}

/**first tier of Our solutions**/
.main-menu ul> li > ul > li {
    width: 33.3333%;
    text-align: center;
    font-size: 2.025rem ;
}

/*!**second tier of our soltions**!*/
.main-menu ul > li > ul > li > ul {
    position: absolute;
}


/**second tier horizontal split to 50%**/
.main-menu ul > li > ul > li > ul li {
    width: 50%;
}

.main-menu ul ul a:hover {
    display: inline-block;
    background-color: #F14848;
    width: 100%;
    height: 100%;
    color: white;
}

.main-menu ul ul a {
    display: inline-block;
    line-height: 150px;
}

/*להמשיך אחכ*/
/*.span {*/
 /*vertical-align: baseline;*/
/*}*/



/*===============Intro & Why comigo sections==========================*/

/*height has view-ports width as value, to keep aspect ratio (745 dvided by 1920 =0.388.
since viewport values are in percentages, the value is 38.8v-width )*/

.intro {
    height: 38.88vw;
    background: url(../Media/other/homepage-featured-new-1920x745.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 13%;
}

.intro-content {
    font-size: 2rem;
    line-height: 2rem;
}

h1 {
    font-size: 2rem;
    line-height:2rem;
    color: white;
    font-weight: 300;
    margin: 0;
}

.intro h2 {
    font-size: 4.05rem;
    color: white;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 4rem;
}

.why-comigo-sect {
    height: 29vw;
    text-align: center;
    padding: 4%;
}

.why-comigo-sect h2 {
    font-size: 3rem;
    color: black;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 10px;
}

.why-p {
    color: #A4A4A4;
    font-weight: 200;
    font-size: 1rem;
    line-height: 0.5rem;
    margin-bottom: 40px;
}

/*======================== all the red buttons on page ============================*/

.red-btn:link,
.red-btn:visited {
    background-color: #F14848;
    padding: 12px 16px;
    border-radius: 40px;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
}

.red-btn:hover,
.red-btn:active,
.red-btn:focus {
    color: black;

}

/*=================SERVICES section MIDDLE =======================*/
/*colors all buttons in grey*/

.services {
    height: 40vw;
}

.services-figures figure {
    display: none;
}
.services-figures ul {
    display: inline-block;
    position: relative;
    width: 75%;
    padding-left: 10%;
    padding-top: 3.5%;
}

.services-figures figure {
    position: absolute;
    left: 37%;
    top: 14%;
    width: 80%;
}

.services-figures figcaption {
    color: #B8B8B5;
    font-weight: 100;
    text-align: center;
    width: 40%;
    position: absolute;
    left: 60px;
}
.services-figures img {
    position: absolute;
    top: 60px;
    left: 60px;
}
.services-headers {
    display: inline-block;
    float:left;
    padding-left: 15%;
    padding-top: 4%;
    width: 25%;
    text-align: left;
    color: white;
}
.services-headers h2 {
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 2.3rem;
    margin-top: 0;
    margin-bottom: 0;
}

.services p {
    font-weight: 100;
    font-size: 1rem;
    margin-top: 10px;
}

.services button {
    color: #707070;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 100;
    padding-left: 5%;
    line-height: 2.4rem;
}
.services button:active,
.services button:focus {
    color: #F14848;
    outline: none;
}


/*colors hover over buttons with red*/
.services button:hover {
    color: #F14848;
}

.services-figures li:hover figure {
    display: inline-block;
    position: absolute;
}


/*colors section background in grey*/
.services {
    background-color: #36342D;
}



/*================== enhancement & deploy section =====================*/

.enhance-content {
    background-image: url(../Media/other/ic_EI_cloud_2_home_page.png), url(../Media/other/home-tv-service-bg1.png);
    background-position: center 50px, center;
    background-size: 367px 272px, contain;
    height: 42vw;
    width: 50%;
    background-repeat: no-repeat, no-repeat;
    float: left;
    color:white;
}
.enhance-content h2 {
    font-weight: 300;
    text-transform: uppercase;
    width: 250px;
    font-size: 2.25rem;

}

.enhance-content p {
    font-weight: 200;
}

.deploy-content {
    background-image: url(../Media/other/ic-stb-screens.png), url(../Media/other/home-tv-service-bg2.png);
    background-position: center, center;
    height: 42vw;
    width: 50%;
    background-repeat: no-repeat, no-repeat;
    float: left;
}

.deploy-content h2 {
    color: black;
    font-weight: 200;
    text-transform: uppercase;
}

.deploy-content p {
    color: black;
    font-weight: 200;
}

/*==================white button inside enhance section ==========================*/

.enhance .white-btn {
    background-color: white;
    color: red;
    padding: 10px;
    border-radius: 20px;
    font-size: 11.52px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

/*==================your-content section======================*/

.experience {
    clear: both;
}

.experience {
    background-image: url(../Media/other/screen_whos_on.jpg);
    background-size: 60% auto;
    background-position: 115%;
    height: 705.59px;
    background-repeat: no-repeat;
}

.experience h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    width: 200px;
    margin-bottom: 0;

}

.experience p {
    font-weight: 200;
    width: 200px;
    margin-top: 0;

}

.experience-wrap {
    padding-left: 222px;
    padding-top: 127px;
}

/*================learn more section =====================*/

.brochure {
    background-color: #F14848;
    font-weight: 100;
    color: white;
    height: 200px;
    width: 200px;
}

.meeting-box {
    height: 200px;
    width: 450px;
    background-color: #E8E8E8;
    background-image: url(../Media/other/img-event-IBC.jpg);
    background-size: 292px 117px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.demo {
    background-image: url(../Media/other/screen_demo.jpg);
    background-size: 556px 419px;
    background-repeat: no-repeat;
    height: 591px;
    width: 589px;
    background-color: #EFEFEF;
    background-position: right bottom;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
}

.demo p {
    margin: 0;
    padding-top: 4%;
    padding-left: 6%;
    width: 42%;
}

.social {
    height: 150px;
    width: 150px;
    background-color: #EFEFEF;
}

.learn-left {
    float: left;
    width: 60%;
    height: 40.97vw;
}

.learn-right {
    float: left;
    width: 40%;
    height: 40.97vw;
}


.header-learn-more {
    position: relative;
    float: left;
    width: 70%;
    height: 20.485vw;
    background-color: #F9F9F9
}

.header-learn-more h2 {
    padding-left: 16%;
    padding-left: 16%;
    padding-top: 24%;
    width: 100%;
    margin-top: 0;
    line-height: 4rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    background-color: #F9F9F9;
    font-weight: 100;
}

.brochure {
    float: right;
    width: 30%;
    height: 20.485vw;
}

.social {
    float: left;
    width: 30%;
    height: 20.485vw;
}
.meeting-box {
    float: right;
    width: 70%;
    height: 20.485vw;
}


/*===============site footer======================*/

.blog {
    clear: both;
}

/*sets footer bg color*/

.footer-nav {
    background-color: #1E2024;
    color: grey;
}

/*sets margin to footers content*/
.content-center {
    width: 90%;
    margin: 0 auto;
    max-width: 1050px;
}

/*links color*/

.bottom-nav ul li a {
    color: #707070;
}

.bottom-nav > li > a {
    color: white;
}

.bottom-nav ul li a:hover {
    color: red;
}

/*==========copyrights footer================*/

/*copyrights footer bg color*/
.footer-copyright {
    color: #707070;
    background-color: black;
}

.footer-copyright ul li a {
    color: #707070;
}

.footer-copyright a:hover {
    color: white;
}

/*colors fatlady link*/
.footer-copyright a {
    color: #707070;
}

.content-center {
    width: 90%;
    margin: 0 auto;
    max-width: 1050px;
}

/*=================== blog ===================*/

.blog ul li {
    float: left;
    height: 400px;
    width: 16.6%;
}

.blog-header {
    background-color: #F14848;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    position: relative;
}

.blog-header a {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 2px;

}

/*הסדר הרצוי בשורטהאנד*/
/*background: coral url() no-repeat 50px 50px;*/

.blog1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url(../Media/blog/ibc_post_EI-750x508.png);
}

.blog2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(../Media/blog/IMG_9294-750x563.jpeg);
}

.blog3 {
    background-size: cover;
    background: url(../Media/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg) no-repeat 50% 25%;
}

.blog4 {
    background-size: cover;
    background: url(../Media/blog/post_tv_connect-750x508.jpeg) no-repeat 42% 0;
}

.blog5 {
    background-size: cover;
    background: url(../Media/blog/post_quality-750x508.jpeg) no-repeat 55% 0;
}

/*!*responsive design*!*/
/*@media (max-width: 1050px) {*/
/*.content-center {*/
/*max-width: px;*/
/*}*/
/*}*/

/*Helpers*/

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}