body {
  font: 100% 'source sans pro', sans-serif;
  padding-top: 66px;
}

html {
  font: 100% 'source sans pro', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*=========General LoVe HAte ============*/

a:link,
a:visited {
  color: #171717;
  text-decoration: none;
}

/*colors every hover over link with red and focus on it */
a:hover,
a:focus,
a:active {
  color: #F14848;
  outline: none;
}

/*nav setting*/
/**hides checkbox**/
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/*===============Intro & Why comigo sections==========================*/

/*height has view-ports width as value, to keep aspect ratio (745 dvided by 1920 =0.388.
since viewport values are in percentages, the value is 38.8v-width )*/

.intro-section {
  height: 38.88vw;
  background: url(../Media/other/homepage-featured-new-1920x745.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  align-items: center;
}

.intro-content {
  /*font-size: 2rem;*/
  /*line-height: 2rem;*/
  padding: 8vw 0;
  margin: auto;
  width: 100%;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
  color: white;
  font-weight: 300;
  margin: 0;
}

.intro-section h2 {
  font-size: 4.05rem;
  color: white;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 4rem;
}

.why-comigo-section {
  text-align: center;
  padding: 6vw;
}

.why-comigo-section h2 {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #1e2024;
  font-weight: 200;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 3.8rem;
}

.why-comigo-content {
  width: 290px;
  height: 100%;
  text-align: center;
  margin: auto;
}

/*======================== all the red buttons on page ============================*/

.general-btn-red:link,
.general-btn-red:visited {
  background-color: #F14848;
  padding: 12px 16px;
  border-radius: 40px;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  transition-property: box-shadow, transform;
  transition-duration: 200ms, 200ms;
}

.general-btn-red:hover,
.general-btn-red:active,
.general-btn-red:focus {
  box-shadow: 0 5px 20px 3px rgba(4, 4, 6, 0.2);
  transform: translateY(-7px);
}

/*=================SERVICES section MIDDLE =======================*/

.services-section {
  background-color: rgba(21, 21, 21, 0.9);
  width: 100%;
  overflow: hidden;
  color: #f9f9f9;
  font-weight: 300;
  position: relative;
  padding: 4vw 12vw;
}

.services-figures figure {
  display: none;
}

.services-section .default-play figure {
  display: block;
}


.services-section ul li:hover ~ .default-play > figure {
  display: none;
}


.services-figures ul {
  float: left;
  width: 30%;
  font-size: 1.3rem;
  margin-top: -10px;
  padding-left: 2%;
}

.services-figures figure {
  width: 40%;
  float: left;
  position: absolute;
  top: 4vw;
  height: 100%;
  padding-right: 15vw;
  right: -4vw;
  margin: 0;
}

.services-figures figcaption {
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  width: 75%;
  margin: auto;
}

.services-figures img {
  position: absolute;
  top: 5rem;
  width: 70%;
  padding: 0 4vw;
}

.services-headers {
  width: 30%;
  text-align: left;
  padding-right: 28vw;
  display: inline-block;
  float: left;
  min-width: 190px;
}

.services-headers h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  line-height: 3rem;
  font-size: 2.1rem;
  color: white;
  font-weight: 300;
}

.services-section p {
  width: 190px;
  margin-top: 3%;
}

.services-section button {
  color: #707070;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
  padding-left: 5%;
  line-height: 2.4rem;
}

.services-section button:active,
.services-section button:focus {
  color: #F14848;
  outline: none;
}

/*colors hover over buttons with red*/
.services-section button:hover {
  color: #F14848;
}

.services-figures li:hover figure {
  display: inline-block;
  position: absolute;
}


.services-section video {
  position: absolute;
  min-height: 160%;
  /*min-width: 300%;*/
  top: -150px;
  bottom: 0;
  right: 0;
  /*left: -75vw;*/
  z-index: -3;
}

/*================== enhancement & deploy section =====================*/

.enhance-content {
  background-image: url(../Media/other/ic_EI_cloud_2_home_page.png), url(../Media/other/home-tv-service-bg1.png);
  background-position: center 15%, 0;
  background-size: 367px 272px, 725px 605px;
  height: 42vw;
  width: 50%;
  background-repeat: no-repeat, no-repeat;
  float: left;
  color: white;
}

.enhance-content h2 {
  display: block;
  margin: 0;
  padding-top: 51%;
  padding-left: 28%;
  width: 60%;
  text-align: left;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.25rem;
}

.enhance-content p {
  display: block;
  padding-left: 28%;
  font-weight: 200;
  margin: 0;
}

.deploy-content {
  background-image: url(../Media/other/ic-stb-screens.png), url(../Media/other/home-tv-service-bg2.png);
  background-position: 10% 10%, 0;
  background-size: 43%, 720px 605px;
  height: 42vw;
  width: 50%;
  background-repeat: no-repeat, no-repeat;
  float: left;
  position: relative;
}

.deploy-content h2 {
  display: block;
  margin: 0;
  padding-top: 51%;
  padding-left: 7%;
  color: black;
  width: 60%;
  text-align: left;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.25rem;
}

.deploy-content p {
  display: block;
  padding-left: 7%;
  font-weight: 200;
  color: black;
  margin: 0;
}

.deploy-content .general-btn-red {
  position: absolute;
  left: 7%;
  margin-top: 12px;
  padding: 15px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
}

/*==================white button inside enhance section ==========================*/

.general-btn-white:link,
.general-btn-white:visited {
  position: absolute;
  left: 14%;
  margin-top: 12px;
  background-color: white;
  color: red;
  padding: 15px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition-property: box-shadow, transform;
  transition-duration: 200ms, 200ms;
}

.general-btn-white:hover,
.general-btn-white:active,
.general-btn-white:focus {
  box-shadow: 0 5px 20px 3px rgba(4, 4, 6, 0.2);
  transform: translateY(-7px);
}

/*==================your-content section======================*/

.experience {
  clear: both;
}

.experience {
  background-image: url(../Media/other/screen_whos_on.jpg);
  background-size: 60% auto;
  background-position: 115%;
  height: 705px;
  background-repeat: no-repeat;
}

.experience h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3rem;
  width: 200px;
  margin-bottom: 0;

}

.experience p {
  font-weight: 200;
  width: 200px;
  margin-top: 0;

}

.experience-wrap {
  padding-left: 200px;
  padding-top: 110px;
}

/*================learn more section =====================*/

.learn-more-section {
  height: 42vw;
}

.brochure {
  background-color: #F14848;
  font-weight: 100;
  color: white;
  width: 18%;
  height: 320px;
  position: absolute;
  left: 42%;
}

.brochure p {
  width: 76%;
  position: absolute;
  bottom: 20px;
  left: 8px;
  font-size: 1.2rem;
}

.my-arrow {
  font-size: 6rem;
  position: absolute;
  top: 24%;
  left: 30%;
}

.bg-circle {
  border-radius: 100px;
  border: 3px solid white;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 16%;
  left: 20%;
}

.header-learn-more {
  float: left;
  width: 70%;
  background-color: #F9F9F9;
  position: relative;

}

.header-learn-more h2 {
  padding-left: 7%;
  padding-top: 24%;
  width: 91%;
  margin-top: 0;
  line-height: 4rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  background-color: #F9F9F9;
  font-weight: 100;
  letter-spacing: 2px;
}

.meeting-box {
  width: 450px;
  background-color: #E8E8E8;
  background-image: url(../Media/other/img-event-IBC.jpg);
  background-size: 292px 117px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.demo {
  background-image: url(../Media/other/screen_demo.jpg);
  background-size: 556px 419px;
  background-repeat: no-repeat;
  height: 615px;
  background-color: #EFEFEF;
  background-position: right bottom;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
}

.demo p {
  margin: 0;
  padding-top: 4%;
  padding-left: 6%;
  width: 50%;
}

.social {
  width: 150px;
  background-color: #EFEFEF;
}

.social .social-icon-list {
  padding: 35px;
}

.social-icon-list li {
  display: inline-block;
  position: relative;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  color: #efefef;
  background-color: #f14848;
  border-color: #f14848;
  margin: .3em .1em;
  line-height: 2em;
  font-size: 2.5rem;
  text-align: center;
  transition-property: box-shadow, transform;
  transition-duration: 200ms, 200ms;
}

.social-icon-list li:hover {
  box-shadow: 0px 5px 30px rgba(4, 4, 6, 0.2);
  transform: translateY(-4px);
}

.learn-left {
  float: left;
  width: 60%;
}

.learn-right {
  float: left;
  width: 40%;
  transition-property: box-shadow, transform;
  transition-duration: 200ms, 200ms;
}

.learn-right:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 20px 3px rgba(4, 4, 6, 0.2);
}

.social {
  float: left;
  width: 30%;
  height: 20.485vw;
}

.meeting-box {
  float: right;
  width: 70%;
  height: 20.485vw;
  transition-property: box-shadow, transform;
  transition-duration: 200ms, 200ms;
}

.meeting-box:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 20px 3px rgba(4, 4, 6, 0.2);
}

.meeting-box p {
  width: 32%;
}

/*=================== blog ===================*/

.blog {
  height: 36vw;
  position: relative;
}

.blog ul {
  height: 100%;
  display: block;
  background-color: #1e2024;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*sets li in section + hides span buttons*/
.blog li {
  float: left;
  height: 100%;
  width: 16.666%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}

/*stretch <a> reach to 100% of li*/
.blog li a {
  display: block;
  height: 100%;
  width: 100%;
}

/*color <p> with white and positions them at the bottom of each li*/
.blog .list-content {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*styling for Read-More buttons on all li*/
.blog span {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 31px;
  font-size: 0.8rem;
  font-weight: 100;
  text-transform: uppercase;
  background-color: #F14848;
  text-align: center;
  transition: transform 0.5s;
}

/*stylying for <p> on all li*/
.blog .list-content p {
  margin-bottom: 1%;
  margin-left: 5%;
  width: 80%;
  font-size: 1rem;
  font-weight: 100;
  transition: transform 0.5s;
}

/*scales bigger <li> when hovered*/
.blog li:hover {
  transform: scale(1.07);
  z-index: 9;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

/*brings up span when hovered*/
.blog li:hover span {
  transform: translateY(-78px);
}

/*brings up <p> to make room for span*/
.blog li:hover .list-content p {
  transform: translateY(-78px);
}

.blog-header {
  background-color: #F14848;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
  position: relative;
}

.blog-header h2 {
  color: white;
  position: absolute;
  bottom: 25px;
  left: 20px;
  font-weight: 100;
  font-size: 3.5rem;
  line-height: 3.3rem;
  width: 50%;
}

.blog-header p {
  position: absolute;
  left: 20px;
  bottom: 5px;
  font-size: 1.2rem;
  color: white;
  font-weight: 100;
}

/*הסדר הרצוי בשורטהאנד*/
/*background: coral url() no-repeat 50px 50px;*/

.blog1 {
  background-size: cover;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../Media/blog/ibc_post_EI-750x508.png) no-repeat 50% 0;
}

.blog2 {
  background-size: cover;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../Media/blog/IMG_9294-750x563.jpeg) no-repeat 50% 50%;
}

.blog3 {
  background-size: cover;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../Media/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg) no-repeat 50% 25%;
}

.blog4 {
  background-size: cover;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../Media/blog/post_tv_connect-750x508.jpeg) no-repeat 42% 0;
}

.blog5 {
  background-size: cover;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../Media/blog/post_quality-750x508.jpeg) no-repeat 55% 0;
}

.blog li:nth-child(2):hover {
  background: url(../Media/blog/ibc_post_EI-750x508.png) no-repeat 50% 0;
}

.blog li:nth-child(3):hover {
  background: url(../Media/blog/IMG_9294-750x563.jpeg) no-repeat 50% 50%;
}

.blog li:nth-child(4):hover {
  background: url(../Media/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg) no-repeat 50% 25%;
}

.blog li:nth-child(5):hover {
  background: url(../Media/blog/post_tv_connect-750x508.jpeg) no-repeat 42% 0;
}

.blog li:nth-child(6):hover {
  background: url(../Media/blog/post_quality-750x508.jpeg) no-repeat 55% 0;
}

/*===============site footer======================*/

.footer-main {
  background-color: #1E2024;
  height: 19vw;
  font-size: 0.8rem;
  font-weight: 100;
  text-transform: uppercase;
}

/*sets margin to footers content*/
.footer-main-content {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  max-width: 1050px;
  position: relative;
}

.nav-left {
  display: block;
  /*width: 13.3333%;*/
  height: 90%;
  position: absolute;
  top: 10%;
  left: 0%;
}

.nav-middle {
  display: block;
  /*width: 13.3333%;*/
  height: 90%;
  position: absolute;
  top: 10%;
  left: 25%;
}

.nav-right {
  display: block;
  /*width: 13.3333%;*/
  height: 20%;
  position: absolute;
  top: 10%;
  left: 50%;
}

.comigo-logo-footer {
  position: absolute;
  top: 23%;
  right: 0%;
}

.footer-main-content div > ul > li > a {
  color: white;
}

.footer-main .footer-main-content div > ul > li {
  margin-top: 2rem;
}

.footer-main-content div > ul li {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

/*links color*/

.footer-main-content ul li a {
  color: #707070;
}

.footer-main-content nav > ul > li > a {
  color: white;
}

.footer-main-content li > ul > li > a:hover {
  color: red;
}

/*==========copyrights footer================*/

/*copyrights footer colors*/

.footer-bottom {
  color: #707070;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  position: relative;
  max-width: 1050px;
  line-height: 45px;
}

.bottom-menu-bgc {
  background-color: #151515;
  height: 45px;
}

.span-copyrights {
  position: absolute;
}

.copyrights-ul {
  position: absolute;
  left: 20%;
}

.copyrights-ul li:before {
  content: "|";
  display: inline-block;
  margin-right: 1em;
  margin-left: 1em;
}

.copyrights-ul a {
  color: #707070;
}

.footer-bottom ul li {
  display: inline-block;
}

.footer-bottom a:hover {
  color: white;
}

.footer-bottom ul {
  display: inline-block;
}

.social-icon-footer {
  position: absolute;
  right: 0;
}

.social-icon-footer li {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  color: #efefef;
  background-color: #707070;
  border-color: #f14848;
  margin: .3em .1em;
  line-height: 2em;
  font-size: 0.8rem;
  text-align: center;
  transition-property: box-shadow, transform;
  transition-duration: 200ms, 200ms;
}

.social-icon-footer li:hover {
  box-shadow: 0px 5px 30px rgba(4, 4, 6, 0.2);
  transform: translateY(-4px);
}

/*!*responsive design*!*/
/*@media (max-width: 1050px) {*/
/*.content-center {*/
/*max-width: px;*/
/*}*/
/*}*/

/*====================== Helpers =====================*/

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*======================== Media Queries ==========================*/

/*================above 700px =============*/

@media (min-width: 701px) {
  /*hidden Menu button for media query less than 700px*/
  /*hides menu label*/
  .header label {
    display: none;
    float: right;
  }

  .main-menu {
    background-color: white;
    float: right;
    font-weight: 200;
  }

  .header {
    display: inline-block;
    width: 100%;
    background-color: white;
    line-height: 66px;
    /**makes nav sticky + the first reference point for absolute**/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-left: 25px;
    padding-right: 20px;
    box-shadow: 0 5px 15px 3px rgba(4, 4, 6, 0.2);
  }

  .logo-wrapper {
    display: inline-block;
    line-height: 66px;
  }

  .logo-wrapper img {
    vertical-align: middle;
  }

  ul ul li a span {
    display: inline-block;
    line-height: 1.1;
    width: 60%;
    vertical-align: middle;
  }

  /*Bold +red home button*/
  .main-menu .home-nav {
    color: #F14848;
    font-weight: bold;
  }

  /*sorts all <li> elements in a row*/
  .main-menu li {
    float: left;
  }

  /*spaces between top nav options*/
  .main-menu li a {
    padding: 0 10px;
  }

  /*hide all sub-menus*/
  .main-menu ul ul {
    overflow: hidden;
    height: 0;
    width: 0;
    opacity: 0;
    transition-property: height, opacity;
    transition-duration: .3s;
  }

  /*sub-menus general setup*/
  .main-menu ul ul li {
    text-align: center;
    font-size: 2.025rem;
    text-transform: uppercase;
  }

  /*hovers ul on each li*/
  .main-menu li:hover > ul {
    position: absolute;
    width: 100%;
    height: 135px;
    left: 0;
    background-color: white;
    opacity: 0.97;
    overflow: visible;
  }

  /**first tier horizontal split to 3 (33%)**/
  .main-menu ul > li > ul > li {
    width: 33.3333%;
  }

  /**second tier horizontal split to 2 (50%)**/
  .main-menu ul > li > ul > li > ul li {
    width: 50%;
  }

  .main-menu ul ul a:hover {
    display: inline-block;
    background-color: #F14848;
    width: 100%;
    height: 100%;
    color: white;
    box-shadow: 0 5px 15px 3px rgba(4, 4, 6, 0.2);
  }

  /**extends reach of hover to 100% <a>**/
  .main-menu ul ul a {
    display: inline-block;
    line-height: 135px;
    width: 100%;
  }
}

/*=============== below 700px ===========*/

@media (max-width: 700px) {
  .main-menu {
    display: none;
  }

  /*shows Menu button below 700px*/
  .header label {
    display: block;
    float: right;
  }

  .logo-wrapper {
    display: block;
    line-height: 66px;
    padding-left: 20px;
  }

  .main-menu ul li ul li:before {
    content: "- ";
    /*border: 1px solid red;*/
  }

  .intro-section {
    height: 98.4vw;
    background-size: auto;
  }

  /*Bold +red home button*/
  .main-menu .home-nav {
    color: #F14848;
    font-weight: bold;
  }

  input[type=checkbox]:checked ~ nav {
    display: inline-block;
  }

  .header {
    box-shadow: 0 5px 15px 3px rgba(4, 4, 6, 0.2);
  }

  .why-comigo-section {
    height: 60.62vw;
    padding: 7%;
  }

  .why-comigo-section h2 {
    font-weight: 200;
    margin-top: 10px;
  }

  .services-section {
    height: 240.48vw;
  }

  .services-headers {
    width: 72%;
    padding-left: 6%;
    padding-top: 10%;
  }

  .services-section p {
    width: 49%;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .services-section h2 {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .services-figures ul {
    padding-left: 2%;
    width: 100%;
  }

  .main-menu ul {
    padding-left: 13%;
    line-height: 1.7;
    font-weight: 100;
    font-size: 1.4rem;
  }

  .services-figures figure {
    left: 7%;
    top: 108%;
  }

  .services-figures figcaption {
    width: 80%;
    left: 3%;
    font-size: 1.3rem;
  }

  .enhance-content {
    float: none;
    width: 100%;
    height: 93.56vw;
  }

  .deploy-content {
    float: none;
    width: 100%;
    height: 93.56vw;
  }

  .experience {
    height: 120.47vw;
    position: relative;
    background-size: 80% auto;
    background-position: 50% 10%;
  }

  .experience-wrap {
    padding: 0;
  }

  .experience h2 {
    width: 100%;
    position: absolute;
    top: 50%;
  }

  .experience a {
    position: absolute;
    top: 50%;
  }

  .experience p {
    position: absolute;
    top: 72%;
  }

  .footer-main-content a img {
    position: absolute;
    left: 50%;
  }
}

